* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	max-width: 1280px;
	margin: 63px auto 30px;
	background: #00000000 0.01%;
}

.menu-hero {
	font-size: 80px;
	line-height: 94px;
	color: #4bcaff;
}

.menu-hero:hover{
	border-bottom: 1px solid #4bcaff;
}

.menu-hero-black {
	color: black;
}

.menu-list {
	display: flex;
	justify-content: space-around;
	background: #35444F;
	padding: 25px 0;
  margin: 38px auto 48px;
}

.menu-list-container {
	 display: inline-block;
	max-width: 990px;
	margin: 0 auto;
}

.menu-list-link {
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
	padding: 25px 32px;
	border-right: 1px solid white;
}

.menu-list-link:hover {
	background: #222F3A;


	}

	.menu-list-link.first{
		border-left: 1px solid white;
	}

	.menu-list-link.two:hover{
		background: #222F3A;
	}

	.section{
		display: flex;
		justify-content: space-between;
	}

	.aside{
		width: 344px;
		height: 376px;
		border: 1px solid #000000;
		display: flex;
		justify-content: space-around
}

.menu-aside{
	width: 344px;
	/*height: 376px;*/
	/*margin-left: 52px;*/
}
.menu-aside-item:hover{
	background: #DBDBDB;
	padding-left: 65px
}

.menu-aside-item{
	font-size: 27px;
	line-height: 27px;
	color: #495863;
	padding: 24px 0 24px 52px;



	}
.menu-aside-link{
	font-size: 27px;
	line-height: 27px;
	display: block;
	align-items: center;
	justify-content: space-around;
}



.logo{
	max-width: 885px;

}
.logo-hero-black{
display: flex;
	justify-content: center;
	border: 1px solid #000000;
	height: 529px;
	margin: 0 0 34px 0;

}
.logo-image{
			width: 320px;
			height: 381px;
	margin: 75px 268px;
}

.logo-text{
	font-size: 18px;
	line-height: 24px;
	color: #2C2C2C;
}
.logo-text p{
	margin: 0 0 35px 0;
}




.nav {
	background: rgba(99, 105, 110, 0.48);
}

.nav-content {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	align-items: center;
}

.nav-menu {
	display: flex;
	gap: 30px;
}

.nav-menu-link {
	font-size: 28px;
	line-height: 28px;
	color: #0C1927;
}

.nav-menu-text {
	font-size: 24px;
	line-height: 24px;
	color: #010101;
}

.nav-menu-link:hover {
	color: #3181A6;
	border-bottom: 1px solid #3181A6;
}